@if (type != null)
{
    if (type == 1)
    {
        <div class="alert alert-warning" role="alert" @onclick="CloseAlert">
            @text
        </div>
    }
}
@code {

    [Parameter]
    public int? type { get; set; }
    //0 - ошибка
    //1 - предупреждение

    [Parameter]
    public string? text { get; set; }

    [Parameter]
    public Action? CloseAlert { get; set; }

 }




