@if (show)
{
    <div class="saved-modal">
        <img src="./icons/close.svg" @onclick="()=>show=false">
        <div class="saved-modal-text">
            @text
        </div>
    </div>
}
@code {
    [Parameter]
    public string? text { get; set; }
    [Parameter]
    public bool show { get; set; }
    [Parameter]
    public Action? CloseAlert { get; set; }

 }




