@inject HubConnection HubConnection
<link rel="stylesheet" href="bootstrap 2.0.css" />

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="leftside-bar-btn">
            <div class="lefside-bar-btn">
                <a class="leftsidebar-link" href="fetchuserdetails">Пользователи</a>
                <img src="./icons/users.svg" alt="" class="icon">
            </div>
        </div>
        <div class="leftside-bar-btn">
            <div class="lefside-bar-btn">
                <a class="leftsidebar-link" href="fetchclientdetails">Клиенты</a>
                <img src="./icons/users.svg" alt="" class="icon">
            </div>
        </div>
        <div class="leftside-bar-btn">
            <div class="lefside-bar-btn">
                <a class="leftsidebar-link" href="fetchproductdetails">Продукты</a>
                <img src="./icons/cart.svg" alt="" class="icon">
            </div>
        </div>
        <div class="leftside-bar-btn">
            <div class="lefside-bar-btn">
                <a class="leftsidebar-link" href="fetchorderdetails">Заказы</a>
                <img src="./icons/order.svg" alt="" class="icon">
            </div>
        </div>
        <div class="leftside-bar-btn">
            <div class="lefside-bar-btn">
                <a class="leftsidebar-link" href="fetchcallhistorydetails">Звонки</a>
                <img src="./icons/order.svg" alt="" class="icon">
            </div>
        </div>
        <AuthorizeView Roles="6">
            <div class="leftside-bar-btn">
                <div class="lefside-bar-btn">
                    <a class="leftsidebar-link" href="fetchsupplierordersdetails">
                        Заказы поставщикам
                    </a>
                    <img src="./icons/shipper.svg" alt="" class="icon">
                </div>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    [Inject]
    AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {

    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
