@page "/"
@using System.Security.Claims
@using industriation_crm.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject HubConnection HubConnection
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@using System.Data

<div class="alert alert-success fade-in" role="alert" style="text-align: center; background-color: #eaf7ff; color: #0099ff;">
    Добро пожаловать в CRM-систему ООО "Промышленная Автоматизация"!
</div>


@code {


    [Inject]
    AuthenticationStateProvider AuthenticationStateProvider { get; set; }
    string userid;
    public string _status = "";

    protected override async Task OnInitializedAsync()
    {

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            userid = user.Claims.Where(_ => _.Type == ClaimTypes.NameIdentifier).FirstOrDefault().Value;
        }
        //HubConnection.On<string>("UpdateStatus", status =>
        //{
        //    _status = status;
        //    StateHasChanged();
        //});
    }
    public async Task UpdateStatus()
    {
        await Http.GetAsync("api/Status/" + _status);
    }
    public void Dispose()
    {
        HubConnection.Remove("UpdateStatus");
    }

}